@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7F8FB;
    
}
.upper-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45vh; 
    text-align: center; 

    background-image: url('../img/carousel2.png');
    background-size: cover;
}

.upper-title {
    color: #A90017;

    font-weight: bolder;

    padding-top: 5vh;
    padding-bottom: 20vh;
}

.upper-button {
    width: 8vw;
    height: 4vh;
    border-radius: 10px;
    background-color: #A90017;
    color: #F7F8FB;

    font-weight: bold;

    border: none;
}

.bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh; 
    text-align: center; 
}