@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1D3252;
}
.projetos{
    margin-top: 20px;
}
.pesquisa{
    display: flex;
    gap: 20px;
    width: 50%;

}
.btnpesquisar{
    background-color: #D9D9D9;
    color: black;
    border-color: #D9D9D9;
}
.btnpesquisar:hover{
    background-color: #1D3252;
    color: white;
    border-color: white;
}
.legenda{
    background-color: #1D3252;
    color: white;
    
}
.table{
    width: 100%;
    background-color: #D9D9D9;
    
}
.tabela{
    margin-top: 20px;
}
    .filtrocaixa{
        border-radius: 40px;
        background-color: #D9D9D9;
        color:black;
        
    }
    .caixa{
        
        background-color: #D9D9D9;
        color:black;
    }
    .caixa:hover{
        
        background-color: #1D3252;
        color:white;
    }
    .menucaixa{
        background-color: #D9D9D9;
    }
  .filtro{
    
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
  }
  .table, th, td {
    border: 1px solid black; 
    text-align: center;
  }
.titulo{
    font-size: 2.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.botaotabela{
    background-color: #1D3252;
    color: white;
}

.botaotabela:hover{
    background-color: #094297;
    color: white;
}



        
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
        }

      
        .modal-content {
            background-color: #fff;
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #333;
            border-radius: 5px;
        }

       
        .close {
            color: #333;
            float: right;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

      
        .action-button {
            display: block;
            margin: 10px auto;
            padding: 10px 20px;
            background-color: #1D3252;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .inscrever:hover {
            background-color: #0056b3;
        }