
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #F0F0F0;
}

.container{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 6%;

    background-color: #FFFFFF;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    display: block;
    overflow: hidden;
}

.container h1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0;

    background-color: darkblue;
    color: #F0F0F0;
    font-size: 36px;
    font-weight: bold;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

.container-content{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    
    padding: 8% 0% 8% 0%;
    margin: 0px;

}

.admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;

    margin-left: 2vw;
    margin-right: 2vw;

    padding-top: 1vw;
    padding-bottom: 1vw;

    text-align: center;

    background-color: darkblue;
    border-radius: 40px;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.adminContent-link{ text-decoration: none;}

.admin-options{
    color: #F0F0F0;
    font-weight: 400px;
    letter-spacing: 1px;
}

.icons{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    fill: #F0F0F0;
}

@media only screen and (max-width: 912px){

    body{
        margin-bottom: 10%;
    }

    .container{
        width: 90%;
    }

    .container-content{
        display: block;
        margin-top: 1%;
        padding-top: 0;
    }

    .admin{
        width: auto;
        margin-top: 6%;
        padding-top: 40px;
    }

    .admin-options{
        font-size: xx-large;
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 762px){

    body{
        margin-bottom: 10%;
    }

    .container{
        width: 90%;
    }

    .container-content{
        display: block;
        margin-top: 1%;
        padding-top: 0;
    }

    .admin{
        width: auto;
        margin-top: 6%;
        padding-top: 40px;
    }

    .admin-options{
        font-size: 1em;
        padding-left: 2%;
        padding-right: 2%;
    }
}
