@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1d3252;
}
.bolsas {
  margin-top: 20px;
}
.pesquisa {
  display: flex;
  gap: 20px;
  width: 50%;
}
.btnpesquisar {
  background-color: #d9d9d9;
  color: black;
  border-color: #d9d9d9;
}
.btnpesquisar:hover {
  background-color: #1d3252;
  color: white;
  border-color: white;
}
.legenda {
  background-color: #1d3252;
  color: white;
}
.table {
  width: 100%;
  background-color: #d9d9d9;
}
.tabela {
  margin-top: 20px;
}
.filtrocaixa {
  border-radius: 40px;
  background-color: #d9d9d9;
  color: black;
}
.caixa {
  background-color: #d9d9d9;
  color: black;
}
.caixa:hover {
  background-color: #1d3252;
  color: white;
}
.menucaixa {
  background-color: #d9d9d9;
}
.filtro {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}
.table,
th,
td {
  border: 1px solid black;
  text-align: center;
}
.titulo {
  font-size: 2.5rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.botaotabela {
  background-color: #1d3252;
  color: white;
}

.botaotabela:hover {
  background-color: #094297;
  color: white;
}

.btncriar {
  display: flex;
  justify-content: center;
  background-color: #1d3252;
  border-color: #ffffff;
  border-color: white;
  border-radius: 20px;
}

.dropdown-menu {
  display: none;
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  z-index: 1;
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 8px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.selected-courses {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.selected-courses .tag {
  background-color: #1d3252;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-flex;
  align-items: center;
}

#dropdownMenuButton,
#dropdownMenuButtonEditar {
  background-color: #1d3252;
  color: white;
  border-color: #1d3252;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.7);
}
.inscrever:hover {
  background-color: #0056b3;
}

.modal-content {
  height: fit-content;
  max-height: 1000px;
  overflow-y: auto;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}

.close {
  color: #333;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.action-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #1d3252;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}

.action-button {
  display: block;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #1d3252;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inscrever {
  background-color: #1d3252;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #666;
}

input.form-control[readonly] {
  background-color: #e9ecef;
  cursor: not-allowed;
}

input.form-control:focus {
  border-color: #1d3252;
  outline: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-dialog {
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
}

.modal-content {
  transform: translateY(5%);
}

.container-close {
  display: flex;
  justify-content: end;
}

.close {
  position: absolute;
  color: #333;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.insecrever {
  margin: 0 !important;
}

.button-container {
  margin-top: 50px !important;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
