<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsa fácil</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../public/css/gerenciamentoPS.css">
    

</head>

<body>
    <Section class="gerenciamento">
        <h1 class="titulo">Meus Processos Seletivos</h1>
        <button type="" class="btn btn-primary botaoenviar mx-auto btncriar" id="criarProjetoButton">Criar
            Processo Seletivo</button>
        <table class="table table-striped tabela">
            <thead>
                <tr class="legenda">
                    <th scope="col">ID</th>
                    <th scope="col">Título</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Data de início</th>
                    <th scope="col">Data de término</th>
                    <th scope="col">Status</th>
                    <th scope="col">Inscritos</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Projeto sobre</td>
                    <td>Iniciação Científica</td>
                    <td>05/06/2025</td>
                    <td>05/06/2026</td>
                    <td>Ativo</td>
                    <td>10</td>
                    <td><button type="button" class="btn btn-secondary botaotabela" id="verProjetoButton"><ion-icon
                                name="eye-outline"></ion-icon></button>
                        <button type="button" class="btn btn-secondary botaotabela" id="editarProjetoButton"><ion-icon
                                name="create-outline"></ion-icon></button>
                        <button type="button" class="btn btn-secondary botaotabela" id="deletarProjetoButton"><ion-icon
                                name="trash-bin-outline"></ion-icon></button>
                                <button type="button" class="btn btn-secondary botaotabela" id="verInscritosBolsaButton">
                                    <ion-icon name="person-outline"></ion-icon> 
                                </button>
                    </td>
                </tr>

            </tbody>
        </table>





    </Section>
    
    <div id="deletarProjetoModal" class="modal">
        <div class="modal-content">
            <div class="container-close">
                <span class="close" id="closeDeletarProjetoModal">&times;</span>
            </div>
            <h2>Deletar Bolsa *Nome do Projeto</h2>
            <form>

            </form>
            <button class="action-button inscrever">Deletar</button>

        </div>

    </div>

    <!-- MODAL VISUALIZAR -->
    <div id="visualizarProjetoModal" class="modal">
        <div class="modal-content">
            <div class="container-close">
                <span class="close" id="closeVisualizarProjetoModal">&times;</span>
            </div>
            <h2>*Título do Projeto</h2>
            <form action="" method="">
                <div class="form-row">
                    <div class="form-group">
                        <label for="readProjeto">Projeto:</label>
                        <input type="text" class="form-control" id="readProjeto" value="nome do projeto"  readonly/>
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="readProfessor">Professor responsável:</label>
                        <input type="text" class="form-control" id="readProfessor" value="Nome do Professor" readonly />
                    </div>
                    <div class="form-group">
                        <label for="readEmailProfessor">E-mail Professor:</label>
                        <input type="text" class="form-control" id="readEmailProfessor" value="Email do Professor" readonly />
                    </div>
                    
                    
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="readDataIngresso">Data de início:</label>
                        <input type="date" class="form-control" id="readDataIngresso" value="" readonly />
                    </div>
                    <div class="form-group">
                        <label for="readDataTermino">Data de término:</label>
                        <input type="date" class="form-control" id="readDataTermino" value="Nome do Professor" readonly />
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="readTipo">Tipo:</label>
                        <input class="form-control" id="readTipo" rows="3" value ="iniciacao Cientifica" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="readStatus">Status:</label>
                        <input type="text" class="form-control" id="readStatus" value="Status" readonly />
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group">
                        <label for="readDescricao">Descrição:</label>
                        <textarea class="form-control" id="readDescricao" rows="3" readonly></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="readObservacoes">Observações:</label>
                        <textarea class="form-control" id="readObservacoes" rows="3" readonly></textarea>
                    </div>
                </div>
    
            </form>
        </div>
    </div>
    <!--  -->

    <!-- MODAL CRIAR -->
    <div id="criarProjetoModal" class="modal">
        <div class="modal-content">
            <div class="container-close">
                <span class="close" id="closeCriarProjetoModal">&times;</span>
            </div>
            <h2>Criar Projeto</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="inputProjeto">Tipo:</label>
                    <select class="form-control" id="inputProjeto">
                        <option value="projeto1">Projeto 1</option>
                        <option value="projeto2">Projeto 1</option>
                        <option value="projeto3">Projeto 1</option>
                        <option value="outrasAtividades">Outras projetos</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="inputProfessor">Professor responsável:</label>
                    <input type="text" class="form-control" id="inputProfessor" value="Nome do Professor" readonly />
                </div>
                <div class="form-group">
                    <label for="inputEmailProfessor">E-mail Professor:</label>
                    <input type="text" class="form-control" id="inputEmailProfessor" value="Email do Professor" readonly />
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="inputDataIngresso">Data de início:</label>
                    <input type="date" class="form-control" id="inputDataIngresso" value=""  />
                </div>
                <div class="form-group">
                    <label for="inputDataTermino">Data de término:</label>
                    <input type="date" class="form-control" id="inputDataTermino" value="Nome do Professor" />
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="inputTipo">Tipo:</label>
                    <select class="form-control" id="inputTipo">
                        <option value="iniciacaoCientifica">Iniciação Científica</option>
                        <option value="pesquisa">Pesquisa</option>
                        <option value="extensao">Extensão</option>
                        <option value="outrasAtividades">Outras Atividades</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputStatus">Status:</label>
                    <select class="form-control" id="inputStatus">
                        <option value="ativo">Ativo</option>
                        <option value="concluido">Concluído</option>
                        <option value="emAndamento">Em Andamento</option>
                        <option value="cancelado">Cancelado</option>
                    </select>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="inputDescricao">Descrição:</label>
                    <textarea class="form-control" id="inputDescricao" rows="3" ></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="inputObservacoes">Observações:</label>
                    <textarea class="form-control" id="inputObservacoes" rows="3" ></textarea>
                </div>
            </div>
            <div class="button-container">
                <button type="submit" class="action-button inscrever" id="criarProjeto">
                    Criar Processo Seletivo
                </button>
            </div>
            </form>
        </div>
    </div>
    <!--  -->

    <!-- MODAL EDITAR -->
    <div id="editarProjetoModal" class="modal">
        <div class="modal-content">
            <div class="container-close">
                <div class="container-close">
                    <span class="close" id="closeEditarProjetoModal">&times;</span>
                </div>
            </div>
            <h2>Editar Processo Seletivo</h2>
            <form action="" method="POST">
                <div class="form-row">
                    <div class="form-group">
                        <label for="inputProjetoEditar">Tipo:</label>
                        <select class="form-control" id="inputProjetoEditar">
                            <option value="projeto1">Projeto 1</option>
                            <option value="projeto2">Projeto 1</option>
                            <option value="projeto3">Projeto 1</option>
                            <option value="outrasAtividades">Outras projetos</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="inputProfessorEditar">Professor responsável:</label>
                        <input type="text" class="form-control" id="inputProfessorEditar" value="Nome do Professor" readonly />
                    </div>
                    <div class="form-group">
                        <label for="inputEmailProfessorEditar">E-mail Professor:</label>
                        <input type="text" class="form-control" id="inputEmailProfessorEditar" value="Email do Professor" readonly />
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="inputDataIngressoEditar">Data de início:</label>
                        <input type="date" class="form-control" id="inputDataIngressoEditar" value=""  />
                    </div>
                    <div class="form-group">
                        <label for="inputDataTerminoEditar">Data de término:</label>
                        <input type="date" class="form-control" id="inputDataTerminoEditar" value="Nome do Professor" />
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="inputTipoEditar">Tipo:</label>
                        <select class="form-control" id="inputTipoEditar">
                            <option value="iniciacaoCientifica">Iniciação Científica</option>
                            <option value="pesquisa">Pesquisa</option>
                            <option value="extensao">Extensão</option>
                            <option value="outrasAtividades">Outras Atividades</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputStatusEditar">Status:</label>
                        <select class="form-control" id="inputStatusEditar">
                            <option value="ativo">Ativo</option>
                            <option value="concluido">Concluído</option>
                            <option value="emAndamento">Em Andamento</option>
                            <option value="cancelado">Cancelado</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="inputDescricaoEditar">Descrição:</label>
                        <textarea class="form-control" id="inputDescricaoEditar" rows="3" ></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="readObservacoes">Observações:</label>
                        <textarea class="form-control" id="readObservacoes" rows="3" ></textarea>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="action-button inscrever" id="editarProjeto">
                        Editar Processo Seletivo
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--  -->



    <!-- Modal para Ver inscritos -->
    <div id="inscritosBolsaModal" class="modal">
        <div class="modal-content">
            <div class="container-close">
                <span class="close" id="closeVerInscritosBolsaModal">&times;</span>
            </div>
    
            <!-- Formulário que será enviado ao backend -->
            <form action="/api/enviar-notas" method="POST">
                <h2>Inscritos</h2>
                <table class="inscritos-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th>Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Carlos Santos</td>
                            <td>345678</td>
                            <td><input class="nota-input" type="number" name="notas[CarlosSantos]" placeholder="Informe a nota" required></td>
                        </tr>
                        <tr>
                            <td>Paula Lima</td>
                            <td>987654</td>
                            <td><input class="nota-input" type="number" name="notas[PaulaLima]" placeholder="Informe a nota" required></td>
                        </tr>
                        <tr>
                            <td>Felipe Costa</td>
                            <td>123890</td>
                            <td><input class="nota-input" type="number" name="notas[FelipeCosta]" placeholder="Informe a nota" required></td>
                        </tr>
                    </tbody>
                </table>    
                <div class="button-container">
                    <button type="submit" class="action-button inscrever" id="inscreverVoluntaria">
                        Enviar notas
                    </button>
                </div>
            </form>
        </div>
    </div>






    <script src="../../../public/js/gerenciamentoPS.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>