<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsa fácil</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../public/css/navbar.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid text-bg-dark p-3">
            <a class="navbar-brand logo-nome" href="#">
                <img class="logo-site" src="/img/logo.png" alt="logo" width="110" height="58">
                <p class="nomeDoSite">Bolsa Fácil</p>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0  linksDirect">
                    <li class="nav-item">
                        <a class="nav-link links-site" aria-current="page" href="/">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link links-site" aria-current="page" href="/perfil">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link links-site" href="/bolsas">Bolsas</a>
                    </li>
                    <li class="nav-item">
                    <button type="button" class="btn btn-danger botaonav nav-link btn-login links-site" onclick="window.location.href='/login'">Login</button>
                    </li>
                    
                </ul>
                
            </div>


        </div>
    </nav>
</body>
</html>