<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bolsa fácil</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../../public/css/processoSeletivo.css" />
    <link rel="stylesheet" href="/css/modais.css" />
</head>

<body>
    <section class="projetos">
        <h1 class="titulo">Lista de Processos Seletivos </h1>

        <div class="input-group mx-auto pesquisa">
            <input type="search" class="form-control rounded" placeholder="Digite um título de um processo seletivo"
                aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary btnpesquisar">
                Pesquisar
            </button>
        </div>

        <!-- <div class="dropdown filtro">
            <button class="btn btn-secondary dropdown-toggle filtrocaixa" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar tipo
            </button>
            <ul class="dropdown-menu menucaixa" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item caixa" href="#">Remunerado</a></li>
                <li><a class="dropdown-item caixa" href="#">Não Remunerado</a></li>
            </ul>
        </div> -->

        <table class="table table-striped tabela">
            <thead>
                <tr class="legenda">
                    <th scope="col">Título</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Data de início</th>
                    <th scope="col">Data de término</th>
                    
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Pesquisa sobre Banco de dados</th>
                    <td>Iniciação Científica</td>
                    <td>05/01/2025</td>
                    <td>05/01/2026</td>
                    
                    <td>Ativo</td>
                    <td>
                        <button type="button" class="btn btn-secondary botaotabela" id="verPSButton">
                            Ver
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- MODAL VISUALIZAR -->
    <div id="visualizarPSModal" class="modal">
        <div class="modal-content">
            <div class="container-close">
                <span class="close" id="closeVisualizarPSModal">&times;</span>
            </div>
            <h2>*Título do Projeto</h2>
            <form action="" method="POST">
                <div class="form-row">
                    <div class="form-group">
                        <label for="readProfessor">Professor responsável:</label>
                        <input type="text" class="form-control" id="readProfessor" value="Nome do Professor" readonly />
                    </div>
                    <div class="form-group">
                        <label for="readEmailProfessor">E-mail Professor:</label>
                        <input type="text" class="form-control" id="readEmailProfessor" value="Email do Professor" readonly />
                    </div>
                    
                    
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="readDataIngresso">Data de início:</label>
                        <input type="date" class="form-control" id="readDataIngresso" value="" readonly />
                    </div>
                    <div class="form-group">
                        <label for="readDataTermino">Data de término:</label>
                        <input type="date" class="form-control" id="readDataTermino" value="Nome do Professor" readonly />
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="readTipo">Tipo:</label>
                        <input class="form-control" id="readTipo" rows="3" value ="iniciacao Cientifica" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="readStatus">Status:</label>
                        <input type="text" class="form-control" id="readStatus" value="Status" readonly />
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group">
                        <label for="readDescricao">Descrição do Projeto:</label>
                        <textarea class="form-control" id="readDescricao" rows="3" readonly></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="readObservacoes">Observações:</label>
                        <textarea class="form-control" id="readObservacoes" rows="3" readonly></textarea>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="action-button inscrever" id="editarProjeto">
                        Inscrever-se
                    </button>
                </div>
                
    
                
            </form>
        </div>
    </div>
    <!--  -->

    <script src="../../../public/js/processoSeletivo.js"></script>
</body>

</html>